
@model otoparkprojesi.DAL.musteri

@{
    ViewBag.Title = "Hakkımızda";
}


<h2>Hakkımızda</h2>
<center>
    <body>
        <p>
            <br />
            <H5> “Bilinçli Sürücünün Adresi OTOPARK.COM"<br /></H5>

            OTOPARK.com‘un geçmişi 90’ların sonuna, Superonline’a kadar dayanmakta. <br />
            Çekirdek kadrosu içerisinde arkadaşlığın ötesinde birer dostluk kuruldu <br />

            Tutku, tecrübe ve düşlerimizle beslediğimiz bu platform, takipçilerimizden <br />
            aramıza katılanlarla birlikte her geçen gün büyüyerek yoluna son sürat devam ediyor.<br />
            <h5>SAHİBİ</h5>
            <h5>Selcan Büyüktepe</h5>
        </p>
    </body>
</center>