
@{
    ViewBag.Title = "Anasayfa";
}



<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/CSS/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/CSS/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <center>
    <div class="container">



        <div class="container-fluid">
    <div class="row">
        <div>
            
             <img src=" ~/Content/resim/oto.jpg" width="300" height="300"/>
            <strong><center> 1.KATIMIZ</center></strong>
        </div>

        <div>
            <img src="~/Content/resim/otopark2.jpg" width="300" height="300" />
            
            <strong><center>2. KATIMIZ</center></strong>
        </div>
        <div>
            <img src="~/Content/resim/otopark3.jpg" width="300" height="300"/>
            
            <strong><center>3. KATIMIZ</center></strong>
        </div>
        
    </div>
</div>
    </div>
        </center>
    <p>
       <center><h3> Toplam 3 kattan oluşmak üzere İstanbul Kadıköy semtinde hizmetinizdeyiz.</h3></center>
    </p>

</body>
</html>

    



