
@model otoparkprojesi.DAL.musteri

@{
    ViewBag.Title = "Hakkımızda";
}
<center>
    <h2>Hakkımızda</h2>
    <img src="~/Content/resim/resimm.png" width="1060" height="500" />
    <body>
        <p>
            <br />
            <H5> “Bilinçli Sürücünün Adresi OTOPARK.COM"<br /></H5>

            OTOPARK.com‘un geçmişi 90’ların sonuna, Superonline’a kadar dayanmakta. <br />
            Çekirdek kadrosu içerisinde arkadaşlığın ötesinde birer dostluk kuruldu <br />

            Tutku, tecrübe ve düşlerimizle beslediğimiz bu platform, takipçilerimizden <br />
            aramıza katılanlarla birlikte her geçen gün büyüyerek yoluna son sürat devam ediyor.<br />
            </p>
    </body>
</center>