
@{
    ViewBag.Title = "İletisim";
}
<center>
    <h2>OTOPARK.COM İletişim Bilgileri</h2>
    @using (Html.BeginForm())
    {
        <p>


            <img src="~/Content/resim/tel.png" width="50" height="50" /> <h4> Telefon Bilgisi : 05326987896</h4>
            <img src="~/Content/resim/mail.png" width="50" height="50" /><h4>E-MAİL Bilgisi : Selcan.byktp@gmail.com</h4>
            <img src="~/Content/resim/adres.png" width="50" height="50" /> <h4>Adres Bilgisi : Kadıköy Sahil Yolu İSTANBUL / KADIKÖY</h4>
            <img src="~/Content/resim/fax.png" width="50" height="50" />  <h4> Fax Bilgisi : +90 212 345 04 50</h4>
            <img src="~/Content/resim/konum.jpg" width="600" height="500" />
        </p>
    }
</center>
